################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArredondaDataSQL/.vs
/ArredondaDataSQL/ArredondaDataSQL/bin/Debug/net6.0
/ArredondaDataSQL/ArredondaDataSQL/obj
